
<main class="mx-auto w-7/8">
  <div class="container-fluid p-4">
    <section class="mb-3 pb-3" id="about">
      <div class="p-2">
        <h1 class="mb-3">
          Brittany
          <span class="text-primary">Johns</span>
        </h1>
        <div class="mb-4">
          Lagrange, Ohio &nbsp; · &nbsp; (440) 225-2432 &nbsp;· &nbsp;
          <a href="mailto:bhannajohns@gmail.com">bhannajohns@gmail.com</a>
        </div>
        <p class="text-md lg:text-lg mb-3">
          Tenacious, full stack software developer with an unstoppable
          desire to learn and a passion for problem solving. Agile to the
          core, over the last seven years, I've moved around from product to
          product - based on the needs of the company. With an innate
          ability to learn on the fly, I'm able to jump to where I'm
          needed & welcome every opportunity. I'm self taught, starting my
          career from Ruby On Rails tutorials back in 2015, so I'll never
          shy away from a challenge or opportunity to learn something new.
        </p>
        <div class="social-icons">
          <a
            class="social-icon"
            href="https://www.linkedin.com/in/brittjohns/"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a
            class="social-icon"
            href="https://github.com/brittanyjohns"
          >
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 class="mb-4">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="flex-grow-1">
            <h3 class="mb-0">Software Developer II</h3>
            <div class="flex justify-between text-left font-semibold mt-2">
              <div class="mb-3">
                Mindful (acquired by Medallia)
              </div>
              <div class="">
                <span class="text-primary">October 2021 - Present</span>
              </div>
            </div>
            <ul>
              <li class="mb-2 list-disc">
                Spearheaded the creation of customer-facing API endpoints,
                overseeing the entire project lifecycle from planning to
                deployment.
              </li>
              <li class="mb-2 list-disc">
                Collaborated with product owners and managers for
                requirement gathering, ensuring alignment with business
                goals.
              </li>
              <li class="mb-2 list-disc">
                Presented project plans to senior leadership, gaining
                stakeholder buy-in and guiding strategic direction.
              </li>
              <li class="mb-2 list-disc">
                Lead responder for high-priority customer escalations,
                achieving significant improvements in database
                performance and page load times.
              </li>
              <li class="mb-2 list-disc">
                Mentored new developers, contributing to a supportive and
                skilled team environment.
              </li>
              <li class="mb-2 list-disc">
                Deployed Ruby and TypeScript applications meeting FedRamp
                standards, showcasing expertise in secure software
                development.
              </li>
              <li class="mb-2 list-disc">
                Key contributor in enhancing a Ruby on Rails callback
                application, focusing on feature development and bug
                resolution.
              </li>
              <li class="mb-2 list-disc">
                Led the redesign of a data lake and pipeline using AWS
                CDK with TypeScript, significantly improving deployment
                efficiency.
              </li>
              <li class="mb-2 list-disc">
                Implemented event-based routing across applications using
                AWS CDK and Event Bridge, integrating Ruby and TypeScript
                for enhanced communication.
              </li>
              <li class="mb-2 list-disc">
                Developed and executed a strategic data migration plan
                using AWS S3, SQS, Lambda, and CircleCI, enabling
                effective client data transfers.
              </li>
              <li class="mb-2 list-disc">
                Managed multiple projects using Jira, demonstrating strong
                organizational and prioritization skills.
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="flex-grow-1">
            <h3 class="mb-0">Software Developer</h3>
            <div class="flex justify-between text-left font-semibold mt-2">
              <div class="mb-3">Mindful (formerly VHT)</div>
              <div class="flex-shrink-0">
                <span class="text-primary">June 2018 - October 2021</span>
              </div>
            </div>
            <ul>
              <li class="mb-2 list-disc">
                Develop, deploy & maintain multiple production
                applications using primarily Ruby, Ruby On Rails, Angular
                & React.
              </li>
              <li class="mb-2 list-disc">
                Assisted with rearchitecting the
                authentication/authorization platform using the Serverless
                framework & AWS services such as Cognito, Lambda &
                CloudFormation.
              </li>
              <li class="mb-2 list-disc">
                Built APIs using GraphQL & DynamoDB. Backend features
                using Node.js, Typescript & Ruby. Frontend UI work using
                ReactJS.
              </li>
              <li class="mb-2 list-disc">Implement CI workflows using CircleCI.</li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="flex-grow-1">
            <h3 class="mb-0">Associate Software Developer</h3>
            <div class="flex justify-between text-left font-semibold mt-2">
              <div class="mb-3">Mindful (formerly VHT)</div>
              <div class="flex-shrink-0">
                <span class="text-primary">August 2017 - June 2018</span>
              </div>
            </div>
            <ul>
              <li class="mb-2 list-disc">
                Developed new features & fixed bugs for a production
                application using Ruby On Rails & Sinatra frameworks.
              </li>
              <li class="mb-2 list-disc">
                Worked as development support for customer escalations &
                internal troubleshooting.
              </li>

              <li class="mb-2 list-disc">
                Implemented feature enhancements written in C++ & Erlang
                legacy code.
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="flex-grow-1">
            <h3 class="mb-0">Associate Development Intern</h3>
            <div class="flex justify-between text-left font-semibold mt-2">
              <div class="mb-3">
                VHT <small>(formerly Virtual Hold Technology)</small>
              </div>
              <div class="flex-shrink-0">
                <span class="text-primary">April 2017 - August 2017</span>
              </div>
            </div>
            <ul>
              <li class="mb-2 list-disc">
                Developed web applications that controlled and monitored
                client & internal test environments to create a more user
                friendly experience.
              </li>

              <li class="mb-2 list-disc">
                Learned & successfully used APEX to implement a new
                Salesforce solution that enabled VHT's Support Team to
                work more effectively.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="education">
      <div class="resume-section-content">
        <h2 class="mb-4">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="flex-grow-1">
            <h3 class="mb-0">Launch School</h3>
            <div class="mb-3">Online</div>
            <div>Computer Programming - Web Development Track</div>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">2016 - 2017</span>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">Lorain County Community College</h3>
            <div class="mb-3">
              Associate of Arts - General Studies
            </div>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">August 2012 - May 2015</span>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="skills">
      <div class="resume-section-content">
        <h2 class="mb-4">Skills</h2>
        <div class="mb-3">
          Programming Languages, Tools & Skills
        </div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fa-brands fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-brands fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-brands fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-brands fa-react"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-brands fa-aws"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-brands fa-yarn"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-brands fa-ruby"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-brands fa-npm"></i>
          </li>
        </ul>
        <hr />
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            JavaScript/TypeScript
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            Ruby/Rails
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            CircleCI
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            AWS Services/Tools
            <ul>
              <li>Cognito</li>
              <li>DynamoDB</li>
              <li>Lambda</li>
              <li>IAM</li>
              <li>AppSync</li>
              <li>CloudFormation</li>
              <li>Event Bridge</li>
              <li>SQS/SNS</li>
              <li>CDK</li>
            </ul>
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            Serverless framework
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            Graph QL
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            Agile Development & Scrum
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>
            Adapting & Learning New Things
          </li>
        </ul>
      </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="projects">
      <div class="resume-section-content">
        <h2 class="mb-4">Projects</h2>
        <%= render partial: "layouts/projects" %>
      </div>
    </section>
  </div>
</main>