<div id="<%= dom_id post %>" class="my-3 bg-white p-4">
<%= link_to blog_show_path(post), class: "block p-3 border text-center" do %>

  <p class="my-5 text-2xl font-bold">
    <%= post.title %>
  </p>

  <% end %>
</div>
