<div id="<%= dom_id post %>" class="my-5 w-5/6 mx-auto">
<%= link_to blog_show_path(post), class: "block p-3 border" do %>

  <p class="my-5 text-2xl font-bold">
    <%= post.title %>
  </p>

  <% end %>
</div>
