<div class="project-wrapper">
    <h3 class="text-muted">Under Construction</h3>
    <div class="container text-center">
      <div class="row">
        <div class="w-1/2">
          <div class="project" aria-hidden="true">
            <div class="project-body">
              <h2 class="project-title">IttyBittyBoards - Bridging Communication Gaps with AI</h2>
                <div class="project-text">
                  <p class="col-7">
                    <strong> Project Overview:</strong> Developed IttyBittyBoards, an innovative web application designed to assist children with autism and speech delays. The app integrates OpenAI's API to transform text descriptions into visual communication aids, aiding in the creation of custom Augmentative and Alternative Communication (AAC) boards.
                  </p>
                    <p class="col-4">
                        <strong> Technologies:</strong> Ruby on Rails, OpenAI API, JavaScript, HTML, CSS, PostgreSQL, AWS
                    </p>
                    <p class="col-4">
                        <strong> Role & Contributions:</strong> 
                        <ul>
                            <li> Led the development process, focusing on a Ruby-based backend and ensuring seamless integration with OpenAI's API. </li>
                            <li> Designed the application architecture, developed AI integration strategies, and implemented user-friendly interfaces. </li>
                        </ul>
                    </p>
                    <p class="col-6">
                        <strong> Key Achievements:</strong> 
                        <ul>
                            <li> Successfully created an intuitive platform that empowers users to generate personalized communication tools. </li>
                            <li> Received positive feedback from users for the app's impact in facilitating effective communication for children with special needs. </li>
                        </ul>
                    </p>

                </div>
              <a
                href="https://github.com/brittanyjohns/portfolio"
                tabIndex="-1"
                class="btn btn-primary col-6"
              >
                <i class="fa fa-github"></i> View source code
              </a>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="project" aria-hidden="true">
            <div class="project-body">
              <i class="fa fa-person-digging fa-10x project-icon"></i>
              <p class="project-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
              <a
                href="#"
                tabIndex="-1"
                class="btn btn-primary disabled placeholder col-6"
              ></a>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="project" aria-hidden="true">
            <div class="project-body">
              <i class="fa fa-screwdriver-wrench fa-10x project-icon"></i>
              <p class="project-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
              <a
                href="#"
                tabIndex="-1"
                class="btn btn-primary disabled placeholder col-6"
              ></a>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="project" aria-hidden="true">
            <div class="project-body">
              <i class="fa fa-toolbox fa-10x project-icon"></i>
              <p class="project-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
              <a
                href="#"
                tabIndex="-1"
                class="btn btn-primary disabled placeholder col-6"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>