<div class="">
    <div class="">
        <h2 class="font-mono
         text-2xl">SpeakAnyWay - Bridging Communication Gaps with AI</h2>
        <div class="">
            <p class="">
            <strong> Project Overview:</strong> SpeakAnyWay is an innovative web application designed to assist children with autism and speech delays. The app integrates OpenAI's API to transform text descriptions into visual communication aids, aiding in the creation of custom Augmentative and Alternative Communication (AAC) boards.
            </p>
            <p class="">
                <strong> Technologies:</strong> Ruby on Rails, OpenAI API, JavaScript, Stimulus, HTML, CSS, PostgreSQL, AWS, Stripe API, React, Ionic, Tailwind CSS
            </p>
            <p class="">
                <strong> Role & Contributions:</strong> 
                <ul>
                    <li> Led the development process, focusing on a Ruby-based backend and ensuring seamless integration with OpenAI's API. </li>
                    <li> Designed the application architecture, developed AI integration strategies, and implemented user-friendly interfaces. </li>
                </ul>
            </p>
            <p class="">
                <strong> Key Achievements:</strong> 
                <ul>
                    <li> Successfully created an intuitive platform that empowers users to generate personalized communication tools. </li>
                    <li> Received positive feedback from users for the app's impact in facilitating effective communication for children with special needs. </li>
                </ul>
            </p>
        </div>
        <%= link_to "View live site", "https://speakanyway.com/", class: "bg-gray-800 text-white px-4 py-2 rounded-md mt-4 inline-block hover:bg-gray-400", target: "_blank" %>
    </div>
</div>